{% extends "layout.html" %}

{% block pageTitle %}
  Contact Details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/typeofrole" method="post">

        <h1 class="govuk-heading-xl">
          What is your contact detail
        <p></p>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "UK telephone number"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: ""
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
