{% extends "layout.html" %}

{% block pageTitle %} 
  Reservist Experience Required 
{% endblock %} 

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %} 

  {{ govukHeader({ 
    homepageUrl: "#", 
    serviceName: "Make a resource request with the Civil Service Reserve", 
    serviceUrl: "#" }) 
  }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="/RR-027">feedback</a> will help us to
        improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/HO-009d" method="post">
      <h1 class="govuk-heading-xl">
        Select the experience required for the following senior level working behaviours
      </h1>
      <p>
        The following statements outline key behaviors and experiences you may require. 
        Please select the option that best describes the experience level required.
      </p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp6req",
        name: "exp6req",
        fieldset: {
          legend: {
            text: "Making strategic decisions based on your understanding of the consequences.",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp9req",
        name: "exp9req",
        fieldset: {
          legend: {
            text: "Delivering difficult messages to a range of audiences.",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}

      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        idPrefix: "exp11req",
        name: "exp11req",
        fieldset: {
          legend: {
            text: "Experience working with multiple organisations.",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "Cross - government departments",
            text: "Cross - government departments"
          },
          {
            value: "With local authorities",
            text: "With local authorities"
          },          
          {
            value: "With voluntary and local community groups",
            text: "With voluntary and local community groups"
          },
          {
            value: "With business and higher education",
            text: "With business and higher education"
          }
        ]
      }) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}

        <a class="govuk-link" href="/HO-009a">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
