{% extends "layout.html" %}

{% block pageTitle %} 
  Reservist Experience Required 
{% endblock %} 

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %} 

  {{ govukHeader({ 
    homepageUrl: "#", 
    serviceName: "Make a resource request with the Civil Service Reserve", 
    serviceUrl: "#" }) 
  }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="/RR-027">feedback</a> will help us to
        improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/HO-009b" method="post">
      <h1 class="govuk-heading-xl">Experience required from individuals in the following?</h1>

      <p>Do you require individuals with experience in the following?</p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp1req",
        name: "exp1req",
        fieldset: {
          legend: {
            text: "Supporting peaks in volume of BAU activities for expected events",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, Universal Credit Processing, Olympic Games"
        },
        items: [
          {
            value: "Required",
            text: "Required"
          },
          {
            value: "Not Required",
            text: "Not Required"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp2req",
        name: "exp2req",
        fieldset: {
          legend: {
            text: "Supporting peaks in volume for unexpected events",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, Flooding, Grenfell Tower"
        },
        items: [
          {
            value: "Required",
            text: "Required"
          },
          {
            value: "Not Required",
            text: "Not Required"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp3req",
        name: "exp3req",
        fieldset: {
          legend: {
            text: "Supporting cross-government events",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, EU Exit, Covid-19"
        },
        items: [
          {
            value: "Required",
            text: "Required"
          },
          {
            value: "Not Required",
            text: "Not Required"
          }
        ]
      }) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}

        <a class="govuk-link" href="/HO-003">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
