{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Make a resource request with the Civil Service Reserve",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Hiring manager details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring Manager Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['hiring-manager-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-005">
              Change
              <span class="govuk-visually-hidden">Hiring Manager Name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring Manager Contact (Work) Email
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['hiring-manager-work-email'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-005">
              Change
              <span class="govuk-visually-hidden">Hiring Manager Contact (Work) Email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring Manager Contact Number
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['hiring-manager-contact-telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-005">
              Change
              <span class="govuk-visually-hidden">Hiring Manager Contact Number</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Role details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role Title
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['role-title'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-007">
              Change
              <span class="govuk-visually-hidden">Role Title</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role Description
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['role-description'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-007">
              Change
              <span class="govuk-visually-hidden">Role Description</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role Type
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['role-type'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-007">
              Change
              <span class="govuk-visually-hidden">Role Type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Numbers Per Role
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['numbers-per-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-007">
              Change
              <span class="govuk-visually-hidden">Numbers Per Role</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Role requirements</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Minimum Grade
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['minimum-grade'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-008">
              Change
              <span class="govuk-visually-hidden">Minimum Grade</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Professions
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['professions'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-008">
              Change
              <span class="govuk-visually-hidden">Professions</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Minimum security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['minimum-security-clearance'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-008">
              Change
              <span class="govuk-visually-hidden">Minimum security clearance</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['preferred-security-clearance'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/HO-008">
              Change
              <span class="govuk-visually-hidden">Preferred security clearance</span>
            </a>
          </dd>
        </div>
      </dl>

      <!-- start of skills skillsa skillsb -->

      <h2 class="govuk-heading-m">Experience</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting peaks in volume of BAU activities for expected events
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp1req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009a">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting peaks in volume of BAU activities for unexpected events
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp2req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009a">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting cross-government events.
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp3req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009a">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Working in government behaviours</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working with ministers, anticipating and delivering their needs in a timely manner
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp4req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009b">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Producing clear and accurate briefings
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp8req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009b">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Senior level working behaviours</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Making strategic decisions based on your understanding of the consequences
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp6req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009c">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivering difficult messages to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp9req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009c">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Experience working with multiple organisations
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp11req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009c">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Communication and organisational behaviours</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working with data to communicate to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp7req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009d">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Running events or conferences.
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp10req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009d">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Enjoys working in high pressure environments
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['exp5req'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-009d">
              Change
              <span class="govuk-visually-hidden">Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- end of skills skillsa skillsb -->

      <h2 class="govuk-heading-m">Working patterns</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Days Required
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['days-required'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-010">
              Change
              <span class="govuk-visually-hidden">Days Required</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unsociable Hours
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['unsociable-hours'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-010">
              Change
              <span class="govuk-visually-hidden">Unsociable Hours</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Further role details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-011">
              Change
              <span class="govuk-visually-hidden">Location</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Urgency
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['urgency'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/HO-011">
              Change
              <span class="govuk-visually-hidden">Urgency</span>
            </a>
          </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m">Now send in your request</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/HO-014" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
