{% extends "layout.html" %}

{% block pageTitle %} 
  Reservist Experience Required 
{% endblock %} 

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %} 

  {{ govukHeader({ 
    homepageUrl: "#", 
    serviceName: "Make a resource request with the Civil Service Reserve", 
    serviceUrl: "#" }) 
  }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="/RR-027">feedback</a> will help us to
        improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/HO-010" method="post">
      <h1 class="govuk-heading-xl">
        Select the experience required for the following communication and organisational behaviours
      </h1>
      <p>
        Select the option that best describes the experience level required.
      </p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp7req",
        name: "exp7req",
        fieldset: {
          legend: {
            text: "Working with data to communicate to a range of audiences",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}


      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp10req",
        name: "exp10req",
        fieldset: {
          legend: {
            text: "Running events or conferences",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small",
        idPrefix: "exp5req",
        name: "exp5req",
        fieldset: {
          legend: {
            text: "Enjoys working in high pressure environments",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Required",
            text: "Required"
          },
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}

        <a class="govuk-link" href="/HO-009a">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
