{% extends "layout.html" %}

{% block pageTitle %}
  Type of reservist
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Make a resource request with the Civil Service Reserve",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/HO-009" method="post">

        <h1 class="govuk-heading-xl">
          Role requirements
        </h1>

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "minimum-grade",
          name: "minimum-grade",
          label: {
            text: "Minimum grade",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          items: [
            {
              value: " ",
              text: " "
            },
            {
              value: "HEO",
              text: "HEO"
            },
            {
              value: "SEO",
              text: "SEO"
            },
            {
              value: "Grade 7",
              text: "Grade 7"
            },
            {
              value: "Grade 6",
              text: "Grade 6"
            },
            {
              value: "SCS1",
              text: "SCS1"
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="professions-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                  Professions
              </h1>
            </legend>
            <div id="professions-hint" class="govuk-hint">
              Select the <a href="https://www.civil-service-careers.gov.uk/professions" target="_blank">profession(s)</a> that this role is associated with.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-1" name="professions" type="checkbox" value="Analysis">
                <label class="govuk-label govuk-checkboxes__label" for="professions-1">
                  Analysis
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-2" name="professions" type="checkbox" value="Commercial and Procurement">
                <label class="govuk-label govuk-checkboxes__label" for="professions-2">
                  Commercial and Procurement
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-3" name="professions" type="checkbox" value="Communications">
                <label class="govuk-label govuk-checkboxes__label" for="professions-3">
                  Communications
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-4" name="professions" type="checkbox" value="Counter Fraud">
                <label class="govuk-label govuk-checkboxes__label" for="professions-4">
                  Counter Fraud
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-5" name="professions" type="checkbox" value="Crisis Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-5">
                  Crisis Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-6" name="professions" type="checkbox" value="Digital, Data and Technology">
                <label class="govuk-label govuk-checkboxes__label" for="professions-6">
                  Digital, Data and Technology
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-7" name="professions" type="checkbox" value="Finance">
                <label class="govuk-label govuk-checkboxes__label" for="professions-7">
                  Finance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-8" name="professions" type="checkbox" value="Human Resources">
                <label class="govuk-label govuk-checkboxes__label" for="professions-8">
                  Human Resources
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-9" name="professions" type="checkbox" value="International Trade and Development">
                <label class="govuk-label govuk-checkboxes__label" for="professions-9">
                  International Trade and Development
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-10" name="professions" type="checkbox" value="Knowledge and Information Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-10">
                  Knowledge and Information Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-11" name="professions" type="checkbox" value="Legal">
                <label class="govuk-label govuk-checkboxes__label" for="professions-11">
                  Legal
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-12" name="professions" type="checkbox" value="Operational Delivery">
                <label class="govuk-label govuk-checkboxes__label" for="professions-12">
                  Operational Delivery
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-13" name="professions" type="checkbox" value="Policy">
                <label class="govuk-label govuk-checkboxes__label" for="professions-13">
                  Policy
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-14" name="professions" type="checkbox" value="Project Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-14">
                  Project Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-15" name="professions" type="checkbox" value="Property">
                <label class="govuk-label govuk-checkboxes__label" for="professions-15">
                  Property
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-16" name="professions" type="checkbox" value="Security">
                <label class="govuk-label govuk-checkboxes__label" for="professions-16">
                  Security
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-heading-l">
            Types of security
          </h2>
          <p>
            Indicate what is the minimum and preferred 
            <a class="govuk-link" href="https://www.gov.uk/government/publications/united-kingdom-security-vetting-clearance-levels/national-security-vetting-clearance-levels">
              level of security clearance
            </a>
            for this role
          </p>
      </div>

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "minimum-security-clearance",
          name: "minimum-security-clearance",
          label: {
            text: "Minimum security clearance",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          items: [
            {
              value: " ",
              text: " "
            },
            {
              value: "BPSS",
              text: "BPSS"
            },
            {
              value: "CTC",
              text: "CTC"
            },
            {
              value: "SC",
              text: "SC"
            },
            {
              value: "DV",
              text: "DV"
            }
          ]
        }) }}

        
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "preferred-security-clearance",
          name: "preferred-security-clearance",
          label: {
            text: "Preferred security clearance",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          items: [
            {
              value: " ",
              text: " "
            },
            {
              value: "BPSS",
              text: "BPSS"
            },
            {
              value: "CTC",
              text: "CTC"
            },
            {
              value: "SC",
              text: "SC"
            },
            {
              value: "DV",
              text: "DV"
            }
          ]
        }) }}
  


      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
      {{ govukButton({
      text: "Continue"
      }) }}

      <a class="govuk-link" href="/HO-003">Cancel</a>
      </div>

      </form>

    </div>
  </div>

</form>

    </div>
  </div>

{% endblock %}
