{% extends "layout.html" %}

{% block pageTitle %}
  Hiring Manager Page
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Make a resource request with the Civil Service Reserve",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/HO-007" method="post">
        <h1 class="govuk-heading-xl">
          Named contact details
        </h1>
        <p class="govuk-inset-text">
          We may contact the named contact for more details on this resource request.
        </p>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "hiring-manager-name",
          name: "hiring-manager-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Work email"
          },
          id: "hiring-manager-work-email",
          name: "hiring-manager-work-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Work telephone number"
          },
          id: "hiring-manager-contact-telephone-number",
          name: "hiring-manager-contact-telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and continue"
        }) }}

        <a class="govuk-link" href="/HO-003">Cancel</a>
        </div>

      </form>

    </div>
  </div>

</form>

    </div>
  </div>

{% endblock %}
