{% extends "layout.html" %}

{% block pageTitle %} 
  Reservist Experience Required 
{% endblock %} 

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %} 

  {{ govukHeader({ 
    homepageUrl: "#", 
    serviceName: "Make a resource request with the Civil Service Reserve", 
    serviceUrl: "#" }) 
  }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/HO-009c" method="post">
      <h1 class="govuk-heading-xl">
        Select the experience required for the following working in government behaviours
      </h1>
      <p>
        Select the option that best describes the experience level required.
      </p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "exp4req",
        name: "exp4req",
        fieldset: {
          legend: {
            text: "Working with ministers, anticipating and delivering their needs in a timely manner",
            classes: "govuk-body"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "exp8req",
        name: "exp8req",
        fieldset: {
          legend: {
            text: "Producing clear and accurate briefings",
            classes: "govuk-body"
          }
        },
        items: [
          {
            value: "Expert required",
            text: "Expert required"
          },
          {
            value: "Some experience required",
            text: "Some experience required"
          },          
          {
            value: "Not required",
            text: "Not required"
          }
        ]
      }) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save and continue" }) }}

        <a class="govuk-link" href="/HO-009a">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
