{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Make a resource request with the Civil Service Reserve",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Your resource request to the Civil Service Reserve has been submitted",
        html: "Your Reference Number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We will respond to your request within 2 business days.
      </p>
      <p class="govuk-body">
        The Civil Service Reserve team works Monday to Friday, 9am to 5pm. 
        For urgent requests, call 0200 20320. For support outside of normal business hours, 
        call 0100 00012. Or,  <a href="#" class="govuk-link">email</a>. 
      </p>

      <p class="govuk-body">
        <a href="/feedback" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
