{% extends "layout.html" %}

{% block pageTitle %}
  Login Page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Make a resource request with the Civil Service Reserve",
    serviceUrl: "#"
  }) }}
  

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Access your Civil Service Reserve account
      </h1>

      <p>To use this service:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your organisation must be already subscribed to the Civil Service Reserve</li>
        <li>you must have been provided with sign in details for your Civil Service Reserve account</li>
      </ul>

      <br>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h2 class="govuk-heading-l">Sign in to your Civil Service Reserve account</h2>

      {{ govukInput({
        label: {
          text: "Sign in to your Civil Service Reserve account",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        classes: "govuk-input--width-20",
        label: {
          text: "User ID",
          classes: 'govuk-label--1'
        },
        id: "User-ID",
        name: "User-ID",
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false
      }) }}

      {%- from "govuk/components/input/macro.njk" import govukInput -%}

      {{ govukInput({
        id: "password",
        attributes: {"data-module": "moj-password-reveal"},
        classes: "govuk-input--width-20",
        name: "password",
        type: "password",
        label: {
          text: "Password",
          classes: 'govuk-label--1'
        },
        value: ""
      }) }}

      <a href="/HO-004a" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Problems signing in</h2>
      <p>
      <a href="#">I have forgotten my user ID</a>
      <br>
      <a href="#">I have forgotten my password</a>
      </p>

    </div>
  </div>
{% endblock %}
