{% extends "layout.html" %}

{% block pageTitle %}
  View Request Detail
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Search the Civil Service Reserve",
    serviceUrl: "#"
  }) }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div>

      <h1 class="govuk-heading-xl">Request Details</h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#manager-details">
              Manager Details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#role-details">
              Role Details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#skills">
              Skills
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#working-patterns">
              Working patterns
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#selected-candidates">
              Selected Candidates
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#request-status">
              Request status
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="manager-details">
          <h2 class="govuk-heading-l">Manager Details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hiring Manager Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['hiring-manager-name'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hiring Manager Contact (Work) Email
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['hiring-manager-work-email'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hiring Manager Contact Number
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['hiring-manager-contact-telephone-number'] }}</p>
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="role-details">
          <h2 class="govuk-heading-l">Role Details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Role Title
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['role-title'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Role Description
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['role-description'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Role Type
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['role-type'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Numbers Per Role
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['numbers-per-role'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Minimum Grade
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['minimum-grade'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Professions
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['professions'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Minimum security clearance
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['minimum-security-clearance'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred security clearance
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['preferred-security-clearance'] }}</p>
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="skills">
          <h2 class="govuk-heading-l">Skills</h2>
          
          <h2 class="govuk-heading-m">Communication skills</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Produce clear and accurate Briefings
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill1conf'] }}
                <br>Have experience? - {{data['skill1'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Produce clear and accurate written communications
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill2conf'] }}
                <br>Have experience? - {{data['skill2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Articulate information quickly, succinctly and accurately
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill3conf'] }}
                <br>Have experience? - {{data['skill3'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Clearly and effectively communicate by verbal means
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill4conf'] }}
                <br>Have experience? - {{data['skill4'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Deliver difficult messages with clarity and sensitivity
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill5conf'] }}
                <br>Have experience? - {{data['skill5'] }}
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Analysis skills</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Analyse a range of information and translate this into clear policy
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill6conf'] }}
                <br>Have experience? - {{data['skill6'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Understand data, intelligence and analysis and engage with analysts
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill7conf'] }}
                <br>Have experience? - {{data['skill7'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Understand data and communicate to a range of audiences
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill8conf'] }}
                <br>Have experience? - {{data['skill8'] }}
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Decision making skills</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Make defensible decisions with partial and/or conflicting information
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill9conf'] }}
                <br>Have experience? - {{data['skill9'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Understand the consequences, impact and knock-on effects of decisions
              </dt>
              <dd class="govuk-summary-list__value">
                Rating - {{data['skill10conf'] }}
                <br>Have experience? - {{data['skill10'] }}
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="working-patterns">
          <h2 class="govuk-heading-l">Working Patterns/location</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Days Required
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['days-required'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unsociable Hours
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['unsociable-hours'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['location'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Urgency
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['urgency'] }}
              </dd>
            </div>
          </dl>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="selected-candidates">
          <h2 class="govuk-heading-l">Selected Candidates</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Candidate ID</th>
                    <td class="govuk-table__cell"><a href="/HR-010">ABC123</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Availability</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Grade</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Security Clearance</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profession</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-grid-column-one-third remove-button-container">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove
              </button>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Candidate ID</th>
                    <td class="govuk-table__cell"><a href="/HR-010">ABC124</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Availability</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Grade</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Security Clearance</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profession</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-grid-column-one-third remove-button-container">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove
              </button>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Candidate ID</th>
                    <td class="govuk-table__cell"><a href="/HR-010">ABC125</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Availability</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Grade</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Security Clearance</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profession</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-grid-column-one-third remove-button-container">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove
              </button>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Candidate ID</th>
                    <td class="govuk-table__cell"><a href="/HR-010">ABC126</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Availability</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Grade</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Security Clearance</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profession</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-grid-column-one-third remove-button-container">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove
              </button>
            </div>
          </div>    
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Candidate ID</th>
                    <td class="govuk-table__cell"><a href="/HR-010">ABC127</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Availability</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Grade</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Security Clearance</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Profession</th>
                    <td class="govuk-table__cell">*****</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-grid-column-one-third remove-button-container">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Remove
              </button>
            </div>
          </div>
          <a class="govuk-button" href="{{ asset_path }}spreadsheets/export-of-reservists-shortlist.xlsx">
            Export
          </a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="request-status">
          <h2 class="govuk-heading-l">Request Status</h2>
          <div class="govuk-form-group">
            <select class="govuk-select" id="request-status-select" name="request-status-select">
              <option value="Unfilled">Unfilled</option>
              <option value="Filled" selected>Filled</option>
              <option value="Deployed">Deployed</option>
              <option value="Completed">Completed</option>
            </select>
          </div>
        </div>


      </div>



      <form action="/HR-009" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Search
          </button>
          <a href="/HR-014" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Obtain Details
          </a>
          <a class="govuk-link" href="/HR-005">Cancel</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
