{% extends "layout.html" %}

{% block pageTitle %}
  New Requests
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Search the Civil Service Reserve",
    serviceUrl: "#"
  }) }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-link govuk-back-link" href="/HR-003">Home</a> 
{% endblock %}

{% block content %}

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  <div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">
        View all requests
      </h1>
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-m">Apply Filters</h3>

            <div class="expandable-section">
              <input id="expandable-ckbx-1" type="checkbox" class="expandable-ckbx" />
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
                <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <label class="label" for="expandable-ckbx-1">
                Requested by
              </label>
              <div class="expandable-content">
                <div>
                  {{ govukCheckboxes({
                    idPrefix: "requestedBy",
                    name: "requestedBy",
                    classes: "govuk-checkboxes--small",
                    items: [
                      {
                        value: "Civil Contingencies Secretariat",
                        text: "Civil Contingencies Secretariat"
                      },
                      {
                        value: "National Cyber Force",
                        text: "National Cyber Force"
                      },
                      {
                        value: "Cabinet Office",
                        text: "Cabinet Office"
                      },
                      {
                        value: "Resilience and Recover Directorate",
                        text: "Resilience and Recover Directorate"
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>

            <div class="expandable-section">
              <input id="expandable-ckbx-2" type="checkbox" class="expandable-ckbx" />
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
                <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <label class="label" for="expandable-ckbx-2">
                Event
              </label>
              <div class="expandable-content">
                <div>
                  {{ govukCheckboxes({
                    idPrefix: "event",
                    name: "event",
                    classes: "govuk-checkboxes--small",
                    items: [
                      {
                        value: "Cyber attack",
                        text: "Cyber attack"
                      },
                      {
                        value: "Fuel crisis",
                        text: "Fuel crisis"
                      },
                      {
                        value: "Gloucestershire Flooding",
                        text: "Gloucestershire Flooding"
                      },
                      {
                        value: "Russia-Ukraine",
                        text: "Russia-Ukraine"
                      },
                      {
                        value: "Ukraine response",
                        text: "Ukraine response"
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>

            <div class="expandable-section">
              <input id="expandable-ckbx-3" type="checkbox" class="expandable-ckbx" />
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
                <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <label class="label" for="expandable-ckbx-3">
                Status of request
              </label>
              <div class="expandable-content">
                <div>
                  {{ govukCheckboxes({
                    idPrefix: "statusOfRequest",
                    name: "statusOfRequest",
                    classes: "govuk-checkboxes--small",
                    items: [
                      {
                        value: "Unfilled",
                        text: "Unfilled"
                      },
                      {
                        value: "Filled",
                        text: "Filled"
                      },
                      {
                        value: "Deployed",
                        text: "Deployed"
                      },
                      {
                        value: "Completed",
                        text: "Completed"
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>
            
            <div class="expandable-section">
              <input id="expandable-ckbx-4" type="checkbox" class="expandable-ckbx" />
              <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
                <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
              </svg>
              <label class="label" for="expandable-ckbx-4">
                Role
              </label>
              <div class="expandable-content">
                <div>
                  {{ govukCheckboxes({
                    idPrefix: "statusOfRequest",
                    name: "statusOfRequest",
                    classes: "govuk-checkboxes--small",
                    items: [
                      {
                        value: "Analyst",
                        text: "Analyst"
                      },
                      {
                        value: "Briefing Officer",
                        text: "Briefing Officer"
                      },
                      {
                        value: "Data scientist",
                        text: "Data scientist"
                      },
                      {
                        value: "Liaison Officer",
                        text: "Liaison Officer"
                      },
                      {
                        value: "Policy analyst",
                        text: "Policy analyst"
                      }
                    ]
                  }) }}
                </div>
              </div>
            </div>  
          </div>
          <div class="govuk-grid-column-three-quarters">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Event</th>
                  <th scope="col" class="govuk-table__header">Host Organisation</th>
                  <th scope="col" class="govuk-table__header">Role</th>
                  <th scope="col" class="govuk-table__header">Request Date</th>
                  <th scope="col" class="govuk-table__header">Urgency</th>
                  <th scope="col" class="govuk-table__header">Status of Request</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/HR-006">Gloucestershire Flooding</a></td>
                  <td class="govuk-table__cell">Civil Contingencies Secretariat</td>
                  <td class="govuk-table__cell">Briefing Officer</td>
                  <td class="govuk-table__cell">12/02/2022</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag">Unfilled</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/HR-006a">Cyber attack</a></td>
                  <td class="govuk-table__cell">Cabinet Office</td>
                  <td class="govuk-table__cell">Data scientist</td>
                  <td class="govuk-table__cell">23/01/2022</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Filled</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="javascript:void(0)">Russia-Ukraine</a></td>
                  <td class="govuk-table__cell">Cabinet Office</td>
                  <td class="govuk-table__cell">Liaison Officer</td>
                  <td class="govuk-table__cell">03/12/2021</td>
                  <td class="govuk-table__cell">Low</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Deployed</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="javascript:void(0)">Fuel crisis</a></td>
                  <td class="govuk-table__cell">Resilience and Recover Directorate</td>
                  <td class="govuk-table__cell">Policy analyst</td>
                  <td class="govuk-table__cell">27/10/2021</td>
                  <td class="govuk-table__cell">Medium</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Completed</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="javascript:void(0)">Cyber attack</a></td>
                  <td class="govuk-table__cell">Civil Contingencies Secretariat</td>
                  <td class="govuk-table__cell">Analyst</td>
                  <td class="govuk-table__cell">02/02/2022</td>
                  <td class="govuk-table__cell">High</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Deployed</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>

  </div>
{% endblock %}
