{% extends "layout.html" %}

{% block pageTitle %}
  View Request Detail
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Search the Civil Service Reserve",
    serviceUrl: "#"
  }) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/HR-003">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/HR-005">View all requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Civil Contingencies Secretariat - Gloucestershire Flooding</h1>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#manager-details">
          Manager details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#role-details">
          Role details
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#skills">
          Skills
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#working-patterns">
          Working patterns
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#shortlisted-candidates">
          Candidates
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#request-status">
          Request status
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="manager-details">
      <h2 class="govuk-heading-l">Manager details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring manager name
          </dt>
          <dd class="govuk-summary-list__value">
            John Shearer
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring manager contact (work) email
          </dt>
          <dd class="govuk-summary-list__value">
            john.shearer@gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hiring manager contact number
          </dt>
          <dd class="govuk-summary-list__value">
            <p>1234 56789</p>
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="role-details">
      <h2 class="govuk-heading-l">Role details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role title
          </dt>
          <dd class="govuk-summary-list__value">
            Briefing Officer
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role description
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              You will work with a diverse range of internal and external stakeholders to provide prompt and high-quality briefings for Ministers often at very short notice. 
              You will work well in a high-pressure environment with minimal supervision.
           </p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role type
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Temporary</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Numbers per role
          </dt>
          <dd class="govuk-summary-list__value">
            2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Minimum grade
          </dt>
          <dd class="govuk-summary-list__value">
            Grade 6
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Professions
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Operational delivery</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Minimum security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            <p>CTC</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            <p>SC</p>
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="skills">
      <h2 class="govuk-heading-l">Skills</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting peaks in volume of BAU activities for expected events
          </dt>
          <dd class="govuk-summary-list__value">
            Required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting peaks in volume of BAU activities for unexpected events
          </dt>
          <dd class="govuk-summary-list__value">
            Required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supporting cross-government events
          </dt>
          <dd class="govuk-summary-list__value">
            Not Required
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Working in government behaviours</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working with ministers, anticipating and delivering their needs in a timely manner
          </dt>
          <dd class="govuk-summary-list__value">
            Expert required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Producing clear and accurate briefings
          </dt>
          <dd class="govuk-summary-list__value">
            Expert required
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Senior level working behaviours</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Making strategic decisions based on your understanding of the consequences
          </dt>
          <dd class="govuk-summary-list__value">
            Expert required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivering difficult messages to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            Some experience required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Experience working with multiple organisations
          </dt>
          <dd class="govuk-summary-list__value">
            Cross - government departments, With local authorities
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Communication and organisational behaviours</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working with data to communicate to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            Expert required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Running events or conferences
          </dt>
          <dd class="govuk-summary-list__value">
            Some experience required
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Enjoys working in high pressure environments
          </dt>
          <dd class="govuk-summary-list__value">
            Not required
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="working-patterns">
      <h2 class="govuk-heading-l">Working patterns and location</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Days required
          </dt>
          <dd class="govuk-summary-list__value">
            Weekdays and weekends
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unsociable hours
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            South West
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Urgency
          </dt>
          <dd class="govuk-summary-list__value">
            High
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="shortlisted-candidates">
      <h2 class="govuk-heading-l">Shortlisted candidates</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Candidate ID</th>
                <td class="govuk-table__cell"><a href="/HR-010">ABC123</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Availability</th>
                <td class="govuk-table__cell">Weekdays</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">South West</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Grade</th>
                <td class="govuk-table__cell">Grade 6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Security clearance</th>
                <td class="govuk-table__cell">CTC</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profession</th>
                <td class="govuk-table__cell">Operational delivery</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-one-third remove-button-container">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove
          </button>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Candidate ID</th>
                <td class="govuk-table__cell"><a href="/HR-010">ABC124</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Availability</th>
                <td class="govuk-table__cell">Weekends</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">South West</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Grade</th>
                <td class="govuk-table__cell">Grade 6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Security clearance</th>
                <td class="govuk-table__cell">DV</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profession</th>
                <td class="govuk-table__cell">Operational delivery</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-one-third remove-button-container">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove
          </button>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Candidate ID</th>
                <td class="govuk-table__cell"><a href="/HR-010">ABC125</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Availability</th>
                <td class="govuk-table__cell">Weekdays</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">South West</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Grade</th>
                <td class="govuk-table__cell">Grade 6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Security clearance</th>
                <td class="govuk-table__cell">SC</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profession</th>
                <td class="govuk-table__cell">Operational delivery</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-one-third remove-button-container">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove
          </button>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Candidate ID</th>
                <td class="govuk-table__cell"><a href="/HR-010">ABC126</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Availability</th>
                <td class="govuk-table__cell">Weekdays</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">South West</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Grade</th>
                <td class="govuk-table__cell">Grade 6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Security clearance</th>
                <td class="govuk-table__cell">BPSS</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profession</th>
                <td class="govuk-table__cell">Operational delivery</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-one-third remove-button-container">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove
          </button>
        </div>
      </div>    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Candidate ID</th>
                <td class="govuk-table__cell"><a href="/HR-010">ABC127</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Availability</th>
                <td class="govuk-table__cell">Weekends</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location</th>
                <td class="govuk-table__cell">South West</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Grade</th>
                <td class="govuk-table__cell">Grade 6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Security clearance</th>
                <td class="govuk-table__cell">CTC</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profession</th>
                <td class="govuk-table__cell">Operational delivery</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-grid-column-one-third remove-button-container">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Remove
          </button>
        </div>
      </div>
      <a class="govuk-button" href="{{ asset_path }}spreadsheets/export-of-reservists-details.xlsx">
        Export
      </a>
      <a href="/HR-014" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Show personal details
      </a>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="request-status">
      <h2 class="govuk-heading-l">Request status</h2>
      <div class="govuk-form-group">
        <select class="govuk-select" id="request-status-select" name="request-status-select">
          <option value="Unfilled">Unfilled</option>
          <option value="Filled" selected>Filled</option>
          <option value="Deployed">Deployed</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Save
      </button>
    </div>
  </div>

  <form action="/HR-009" method="post" novalidate>
    <input type="hidden" name="answers-checked" value="true">
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search for Reservists
      </button>
      <a class="govuk-link" href="/HR-005">Cancel</a>
    </div>
  </form>
</div>
</div>
{% endblock %}
