{% extends "layout.html" %}

{% block pageTitle %}
  New Requests
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Search the Civil Service Reserve",
    serviceUrl: "#"
  }) }}
  
  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Reservist Details</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee name
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee email
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            ***********
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Employment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current or former civil servant
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['current-former'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current or last grade
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['current-last-grade'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current Civil Service department or current organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['department-current-role'] }}
          </dd>
        </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your start date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['date-start'] }}</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your end date
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{data['date-end'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Current or most recent role
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{data['your-role'] }}</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Referee name
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{data['your-ref'] }}</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Referee’s email address
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{data['ref-email'] }}</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Referee’s telephone number
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{data['ref-telephone-number'] }}</p>
      </dd>
    </div>
      </dl>

      <h2 class="govuk-heading-m">Employment details (former civil servant)</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Most recent Civil Service department
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['former-current-role'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Years since leaving the Civil Service
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['Years-Leave-Civil'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Years of service
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['Years-in-Civil'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your communication skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Produce clear and accurate Briefings
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill1conf'] }}
            <br>Have experience? - {{data['skill1'] }}
            <br>Experience - {{data['skill1-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Produce clear and accurate written communications
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill2conf'] }}
            <br>Have experience? - {{data['skill2'] }}
            <br>Experience - {{data['skill2-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Articulate information quickly, succinctly and accurately
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill3conf'] }}
            <br>Have experience? - {{data['skill3'] }}
            <br>Experience - {{data['skill3-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Clearly and effectively communicate by verbal means
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill4conf'] }}
            <br>Have experience? - {{data['skill4'] }}
            <br>Experience - {{data['skill4-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Deliver difficult messages with clarity and sensitivity
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill5conf'] }}
            <br>Have experience? - {{data['skill5'] }}
            <br>Experience - {{data['skill5-detail'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your analysis skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Analyse a range of information and translate this into clear policy
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill6conf'] }}
            <br>Have experience? - {{data['skill6'] }}
            <br>Experience - {{data['skill6-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand data, intelligence and analysis and engage with analysts
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill7conf'] }}
            <br>Have experience? - {{data['skill7'] }}
            <br>Experience - {{data['skill7-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand data and communicate to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill8conf'] }}
            <br>Have experience? - {{data['skill8'] }}
            <br>Experience - {{data['skill8-detail'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your decision making skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make defensible decisions with partial and/or conflicting information
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill9conf'] }}
            <br>Have experience? - {{data['skill9'] }}
            <br>Experience - {{data['skill9-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand the consequences, impact and knock-on effects of decisions
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill10conf'] }}
            <br>Have experience? - {{data['skill10'] }}
            <br>Experience - {{data['skill10-detail'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Security clearance and availability</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['secclear'] }}
            <br>{{data['secclear1'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Available days
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['availday'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unsociable hours
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['unsol'] }}
            <br>{{data['more-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal circumstances
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['otherinfo'] }}
            <br>{{data['otherinfo-detail'] }}
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Reasonable adjustments and personal preferences</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasonable adjustments needed
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['resadj'] }}
            <br>{{data['resadj-detail'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Departmental preferences
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['deptp'] }}
            <br>{{data['deptp-detail'] }}
          </dd>
        </div>
      </dl>

      <form action="/HR-009" method="post" novalidate>
        <div class="govuk-button-group">
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Shortlist
          </button>
          <a class="govuk-link" href="/HR-009">Cancel</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
