{% extends "layout.html" %}

{% block pageTitle %}
  New Requests
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Search the Civil Service Reserve",
    serviceUrl: "#"
  }) }}
  

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    View all requests
  </h1>
  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Apply Filters</h3>

        <div class="expandable-section">
          <input id="expandable-ckbx-1" type="checkbox" class="expandable-ckbx" />
          <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
          </svg>
          <label class="label" for="expandable-ckbx-1">
            Availability
          </label>
          <div class="expandable-content">
            <div class="govuk-form-group">
              <select class="govuk-select" id="availability-filter" name="availability-filter">
                <option value="Mon-Fri">Mon - Fri</option>
                <option value="Weekend">Weekend</option>
              </select>
            </div>
          </div>
        </div>

        <div class="expandable-section">
          <input id="expandable-ckbx-2" type="checkbox" class="expandable-ckbx" />
          <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
          </svg>
          <label class="label" for="expandable-ckbx-2">
            Location Preference
          </label>
          <div class="expandable-content">
            <div>
              {{ govukCheckboxes({
                idPrefix: "locationPrefFilter",
                name: "locationPrefFilter",
                classes: "govuk-checkboxes--small",
                items: [
                {
                  value: "East Midlands",
                  text: "East Midlands"
                },
                {
                  value: "East of England",
                  text: "East of England"
                },
                {
                  value: "London",
                  text: "London"
                },
                {
                  value: "North East",
                  text: "North East"
                },
                {
                  value: "North West",
                  text: "North West"
                },
                {
                  value: "South East",
                  text: "South East"
                },
                {
                  value: "South West",
                  text: "South West"
                },
                {
                  value: "West Midlands",
                  text: "West Midlands"
                },
                {
                  value: "Yorkshire",
                  text: "Yorkshire"
                },
                {
                  value: "Remote working",
                  text: "Remote working"
                }
                ]
              }) }}
            </div>
          </div>
        </div>

        <div class="expandable-section">
          <input id="expandable-ckbx-3" type="checkbox" class="expandable-ckbx" />
          <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
          </svg>
          <label class="label" for="expandable-ckbx-3">
            Grade
          </label>
          <div class="expandable-content">
            {% from "govuk/components/select/macro.njk" import govukSelect %}

            {{ govukSelect({
              id: "gradeFilter",
              name: "gradeFilter",
              items: [
                {
                  value: "HEO",
                  text: "HEO"
                },
                {
                  value: "SEO",
                  text: "SEO"
                },
                {
                  value: "Grade 7",
                  text: "Grade 7"
                },
                {
                  value: "Grade 6",
                  text: "Grade 6"
                },
                {
                  value: "SCS1",
                  text: "SCS1"
                },
                {
                  value: "None of the above",
                  text: "None of the above"
                }
              ]
            }) }}
          </div>
        </div>
        
        <div class="expandable-section">
          <input id="expandable-ckbx-4" type="checkbox" class="expandable-ckbx" />
          <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
          </svg>
          <label class="label" for="expandable-ckbx-4">
            Minimum Security Clearance
          </label>
          <div class="expandable-content">
            <div class="govuk-form-group">
              <select class="govuk-select" id="security-clearance-filter" name="security-clearance-filter">
                <option value="HEO">HEO</option>
                <option value="SEO">SEO</option>
                <option value="Grade 7">Grade 7</option>
                <option value="Grade 6">Grade 6</option>
                <option value="SCS1">SCS1</option>
                <option value="None of the above">None of the above</option>
              </select>
            </div>
          </div>
        </div>

        <div class="expandable-section">
          <input id="expandable-ckbx-5" type="checkbox" class="expandable-ckbx" />
          <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="expandable-chevron" aria-hidden="true" focusable="false">
            <path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path>
          </svg>
          <label class="label" for="expandable-ckbx-5">
            Profession(s)
          </label>
          <div class="expandable-content">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-1" name="professions" type="checkbox" value="Analysis">
                <label class="govuk-label govuk-checkboxes__label" for="professions-1">
                  Analysis
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-2" name="professions" type="checkbox" value="Commercial and Procurement">
                <label class="govuk-label govuk-checkboxes__label" for="professions-2">
                  Commercial and Procurement
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-3" name="professions" type="checkbox" value="Communications">
                <label class="govuk-label govuk-checkboxes__label" for="professions-3">
                  Communications
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-4" name="professions" type="checkbox" value="Counter Fraud">
                <label class="govuk-label govuk-checkboxes__label" for="professions-4">
                  Counter Fraud
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-5" name="professions" type="checkbox" value="Crisis Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-5">
                  Crisis Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-6" name="professions" type="checkbox" value="Digital, Data and Technology">
                <label class="govuk-label govuk-checkboxes__label" for="professions-6">
                  Digital, Data and Technology
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-7" name="professions" type="checkbox" value="Finance">
                <label class="govuk-label govuk-checkboxes__label" for="professions-7">
                  Finance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-8" name="professions" type="checkbox" value="Human Resources">
                <label class="govuk-label govuk-checkboxes__label" for="professions-8">
                  Human Resources
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions-filter-9" name="professions" type="checkbox" value="International Trade and Development">
                <label class="govuk-label govuk-checkboxes__label" for="professions-9">
                  International Trade and Development
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter10" name="professions" type="checkbox" value="Knowledge and Information Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-10">
                  Knowledge and Information Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter11" name="professions" type="checkbox" value="Legal">
                <label class="govuk-label govuk-checkboxes__label" for="professions-11">
                  Legal
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter12" name="professions" type="checkbox" value="Operational Delivery">
                <label class="govuk-label govuk-checkboxes__label" for="professions-12">
                  Operational Delivery
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter13" name="professions" type="checkbox" value="Policy">
                <label class="govuk-label govuk-checkboxes__label" for="professions-13">
                  Policy
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter14" name="professions" type="checkbox" value="Project Management">
                <label class="govuk-label govuk-checkboxes__label" for="professions-14">
                  Project Management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter15" name="professions" type="checkbox" value="Property">
                <label class="govuk-label govuk-checkboxes__label" for="professions-15">
                  Property
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="professions--filter16" name="professions" type="checkbox" value="Security">
                <label class="govuk-label govuk-checkboxes__label" for="professions-16">
                  Security
                </label>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Candidate ID</th>
              <th scope="row" class="govuk-table__header">Grade</th>
              <th scope="row" class="govuk-table__header">Security Clearance</th>
              <th scope="row" class="govuk-table__header">Availability</th>
              <th scope="row" class="govuk-table__header">Reservist Status</th>
              <th scope="row" class="govuk-table__header">Shortlist</th>
            </tr>
            <tr>
              <td class="govuk-table__cell">
                <a href="#">ABC123</a>
              </td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Mon-Fri</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Active
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                  Shortlist
                </a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell"><a href="#">ABC124</a></td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Weekend</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  Inactive
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                  Shortlist
                </a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell"><a href="#">ABC125</a></td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Weekend</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Active
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                  Shortlist
                </a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell"><a href="#">ABC126</a></td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Mon-Fri</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  Inactive
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                  Shortlist
                </a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell"><a href="#">ABC127</a></td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Mon-Fri</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Active
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                  Shortlist
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <div class="govuk-button-group">
    <input type="hidden" name="answers-checked" value="true">
    <a class="govuk-button" href="{{ asset_path }}spreadsheets/export-of-reservists-shortlist.xlsx">
      Export
    </a>
    <a class="govuk-link" href="/HR-003">Cancel</a>
  </div>


{% endblock %}
