{% extends "layout.html" %}

{% block pageTitle %}
  Civil Service Reserves — Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Civil Service Reserves
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m">
        Version 3
        <p class="govuk-hint">Sprint 4</p>
      </h2><hr><br>

      <h2 class="govuk-heading-s">Prototypes</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="start"><strong>Apply to join the Civil Service Reserve</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="RU-003"><strong>My Civil Service Reserve Account - Review and update your information</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="HO-003"><strong>Make a resource request with the Civil Service Reserve</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="HR-003"><strong>Search the Civil Service Reserve</strong></a>
        </li>
      </ul>


      <h3 class="govuk-heading-s">Changes</h3>
      <p><a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654012079227/6a0cd9f9b11863432878550c85b002840e6a0d9a?sender=uc68c2b86fdeb6474f1f94924">Change log - V3 and V2 Prototypes</a></p><br>


      <h3 class="govuk-heading-s">Mural boards</h3>
      <p class="govuk-body">Audits - V2 Prototype</p>
      <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654010854014/8c9dd9cb320bda06622925c7b8cfe440db1b459e?sender=a2056812-e7d7-4317-a06c-7cdec80cfb50">Reserve Ops - Search & Shortlist</li>
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654011894790/c4b0c73cdd7d812093d57c33141f2adc08c143c4?sender=1868dd2e-4f5d-4af8-a6df-1af645d680da">Host Organisation - Make a Resource Request</a></li>
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654012079227/6a0cd9f9b11863432878550c85b002840e6a0d9a?sender=uc68c2b86fdeb6474f1f94924">Reservist Registration</a></li>
      </p>
      </ul>

      <p class="govuk-body">Flows - V3 Prototype (updated screens and iterations from audit)</p>
      <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1655986454766/d858c6068f9619e2d07d7c299666ef54f81ed505?sender=u0b9a3025ab244b5859aa4190">Reserve Ops - Search & Shortlist</li>
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1655986395510/3c0d5b448dc49e016337d55234e07acabba71f48?sender=u0b9a3025ab244b5859aa4190">Host Organisation - Make a Resource Request</a></li>
      <li><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1655805911115/3b7d0d087d78f98e21b0f10d703b030d8d0c0964?sender=u0b9a3025ab244b5859aa4190">Reservist Registration</a></li>
      </p>
      </ul>

      <h3 class="govuk-heading-s">Other notes</h3>
      <p>Current (V2) prototype audit completed on 20 June 2022 by Aqib Mehmood</p>
      <p>Latest (V3) prototype including iterations completed on 24 June 2022 by Aqib Mehmood</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      <!--{{ govukButton({
        text: 'View prototype',
        href: '/index'
      }) }}-->


    </div>
  </div>



{% endblock %}
