{% extends "layout.html" %}

{% block pageTitle %}
  Civil Service Reserves — Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Civil Service Reserves
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m">
        Version 2
        <p class="govuk-hint">Sprint 1 to Sprint 2</p>
      </h2><hr><br>

      <h2 class="govuk-heading-s">Prototypes</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="start"><strong>Apply to join the Civil Service Reserve</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="RU-003"><strong>My Civil Service Reserve Account - Review and update your information</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="HO-003"><strong>Make a resource request with the Civil Service Reserve</strong></a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="HR-003"><strong>Search the Civil Service Reserve</strong></a>
        </li>
      </ul>


      <h3 class="govuk-heading-s">Change log</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iterated 'Continue' buttons to 'Save and continue' buttons.</li>
        <li>Added sign in page.</li>
        <li>Fixed phase banner styling bug.</li>
      </ul>


      <h3 class="govuk-heading-s">Design notes, user flows and journeys</h3>
      <p><a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654010854014/8c9dd9cb320bda06622925c7b8cfe440db1b459e?sender=a2056812-e7d7-4317-a06c-7cdec80cfb50">Reserve Ops - Search & Shortlist</a><br>
      <a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654011894790/c4b0c73cdd7d812093d57c33141f2adc08c143c4?sender=1868dd2e-4f5d-4af8-a6df-1af645d680da">Host Organisation - Make a Resource Request</a><br>
      <a class="govuk-link--no-visited-state" href="https://app.mural.co/t/ddat6094/m/ddat6094/1654012079227/6a0cd9f9b11863432878550c85b002840e6a0d9a?sender=uc68c2b86fdeb6474f1f94924">Reservist Registration</a><br>


      <h3 class="govuk-heading-s">Research notes</h3>
      <p>Insert research notes here</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      <!--{{ govukButton({
        text: 'View prototype',
        href: '/index'
      }) }}-->


    </div>
  </div>



{% endblock %}
