{% extends "layout.html" %}

{% block pageTitle %}
  Your Experience Question page
{% endblock %}

{% block beforeContent %}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/Skills" method="post">

        <h1 class="govuk-heading-xl">
          About your current or most recent employment  
        <p></p>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What was/is the organisation?"
          },
          id: "department-current-role",
          name: "department-current-role"
        }) }}

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "date-start",
          namePrefix: "date-start",
          fieldset: {
            legend: {
              text: "What was your start date? "
            }
          },
          hint: {
            text: ""
          }
        }) }}

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "date-end",
          namePrefix: "date-end",
          fieldset: {
            legend: {
              text: "What was your end date? "
            }
          },
          hint: {
            text: "Leave blank if this is your current role"
          }
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What was/is your role? "
  },
  id: "your-role",
  name: "your-role"
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
label: {
text: "Provide the name of someone we can contact for a reference. "
},
id: "your-ref",
name: "your-ref"
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
label: {
text: "What is their role? "
},
id: "ref-role",
name: "ref-role"
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is their email address?"
  },
  hint: {
    text: ""
  },
  id: "ref-email",
  name: "ref-email",
  type: "ref-email",
  autocomplete: "email",
  spellcheck: false
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is their telephone number? "
  },
  id: "ref-telephone-number",
  name: "ref-telephone-number",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
{{ govukButton({
text: "Continue"
}) }}

<a class="govuk-link" href="/start">Cancel</a>
</div>

</form>

    </div>
  </div>

{% endblock %}
