{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to register with the Civil Service Reserve. </p>
      <p></p>
<h2 class="govuk-heading-m">Before you start</h2>
<p></p>
<p></p>

      <p>To be eligible to join you must: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be a current or former civil servant </li>
        <li>have obtained permission from your line manager to join the Civil Service Reserve, if still in employment </li>
        <li>be at grade HEO, SEO, Grade 7, Grade 6 or SCS1 if you are a current civil servant, if you are a former civil servant this should have been your most recent grade</li>
        <li>have the right to work within the UK  </li>
      </ul>

      <p>Registering takes around 15 minutes</p>

      <a href="/Elig1" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



    </div>

    <div class="govuk-grid-column-one-third">


    </div>
  </div>
{% endblock %}
