{% extends "layout.html" %}

{% block pageTitle %} 
  Reservist registration
{% endblock %} 

{% block header %}

  {% from "govuk/components/header/macro.njk" import govukHeader %} 

  {{ govukHeader({ 
    homepageUrl: "#", 
    serviceName: "Civil Service Reserve - Reservist registration", 
    serviceUrl: "#" }) 
  }}

  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="/feedback">feedback</a> will help us to
        improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/RR-017e" method="post">
      <h1 class="govuk-heading-xl">Behaviours and experience</h1>

      <h2 class="govuk-heading-m">
        The following statements outline key behaviours and experiences required in a crisis or surge response.
      </h2>

      <p>Please select the option that best describes your current experience level.</p>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "crisisexp7",
        name: "crisisexp7",
        fieldset: {
          legend: {
            text: "Have you worked with data to communicate to a range of audiences?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "expert",
            text: "I am an expert"
          },
          {
            value: "some-experience",
            text: "I have some experience"
          },          
          {
            value: "no-experience",
            text: "No experience"
          }
        ]
      }) }}
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}

        <a class="govuk-link" href="/Resreg">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
