{% extends "layout.html" %}

{% block pageTitle %}
  Updating my status page
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "My Civil Service Reserve Account",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/RU-027" method="post">

        <h1 class="govuk-heading-xl">
          Leave the Reserve
        </h1>

        <div>
          {% from "govuk/components/select/macro.njk" import govukSelect %}

          {{ govukSelect({
            id: "temp-leave",
            name: "temp-leave",
            label: {
              text: "Select a reason for leaving the Reserve"
            },
            items: [
              {
                value: " ",
                text: " "
              },
              {
                value: "not-avail",
                text: "Not available for more than 3 months"
              },
              {
                value: "ill",
                text: "Extended period of illness"
              },
              {
                value: "parental",
                text: "Extended period of parental leave"
              },
              {
                value: "Personal",
                text: "Personal reasons"
              },
              {
                value: "unsuccessful deployment in past",
                text: "Unsuccessful deployment in past"
              },
              {
                value: "conflict of interest",
                text: "Conflict of interest"
              },
              {
                value: "home organisation declined",
                text: "Home organisation declined"
              },
              {
                value: "security clearance declined",
                text: "Security clearance declined"
              },
              {
                value: "No longer wish to be part of the Reserve",
                text: "No longer wish to be part of the Reserve"
              },
              {
                value: "Other",
                text: "Other"
              }
            ]
          }) }}
        </div>

        <div>
          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "Please provide further detail on your reason for leaving as this will help us improve the service",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: ""
            }
          }) }}
        </div>

        <div class="govuk-button-group">
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Leave the Reserve",
            classes: "govuk-button--warning"
          }) }}
          <a class="govuk-link" href="/RU-004">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
