{% extends "layout.html" %}

{% block pageTitle %}
  Your Experience Question page
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "My Civil Service Reserve Account",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/RU-004" method="post">

        <h1 class="govuk-heading-xl">
          About your current or most recent employment
        </h1>

        <div>
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What was/is the organisation?"
            },
            id: "department-current-role",
            name: "department-current-role"
          }) }}

          {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
            id: "date-start",
            namePrefix: "date-start",
            fieldset: {
              legend: {
                text: "What was your start date? "
              }
            },
            hint: {
              text: ""
            },
            "items": [
              {
                  "name": "month",
                  "classes": "govuk-input--width-2"
              },
              {
                  "name": "year",
                  "classes": "govuk-input--width-4"
              }
            ]
          }) }}

          {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
            id: "date-end",
            namePrefix: "date-end",
            fieldset: {
              legend: {
                text: "What was your end date? "
              }
            },
            hint: {
              text: "Leave blank if this is your current role"
            }
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What was/is your role? "
            },
            id: "your-role",
            name: "your-role"
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Provide the name of someone we can contact for a reference. "
            },
            id: "your-ref",
            name: "your-ref"
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What is their role? "
            },
            id: "ref-role",
            name: "ref-role"
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What is their email address?"
            },
            hint: {
              text: "This can be their personal or work email address, whichever is best for contacting them."
            },
            id: "ref-email",
            name: "ref-email",
            type: "ref-email",
            autocomplete: "email",
            spellcheck: false
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "What is their telephone number? "
            },
            hint: {
              text: "This can be their personal or work telephone number, whichever is best for contacting them."
            },
            id: "ref-telephone-number",
            name: "ref-telephone-number",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "preferred-contact-method",
            name: "preferred-contact-method",
            fieldset: {
              legend: {
                text: "Preferred contact method"
              }
            },
            items: [
              {
                value: "Email",
                text: "Email"
              },
              {
                value: "Telephone",
                text: "Telephone"
              }
            ]
          }) }}
        </div>

        <h2 class="govuk-heading-xl">
          About your most recent Civil Service role
        </h2>

        <div>
          {% from "govuk/components/select/macro.njk" import govukSelect %}

          {{ govukSelect({
            id: "former-current-role",
            name: "former-current-role",
            label: {
              text: "What best describes your former Civil Service department"
            },
            items: [
              {
                value: "blank",
                text: "  "
              },
              {
                value: "Prime Ministers Office",
                text: "Prime Ministers Office"
              },
              {
                value: "Attorney Generals Office",
                text: "Attorney Generals Office"
              },
              {
                value: "Cabinet Office",
                text: "Cabinet Office"
              },
              {
                value: "Department for Business, Energy and Industrial Strategy",
                text: "Department for Business, Energy and Industrial Strategy"
              },
              {
                value: "Department for Digital, Culture, Media and Sport",
                text: "Department for Digital, Culture, Media and Sport"
              },
              {
                value: "Department for Education",
                text: "Department for Education"
              },
              {
                value: "Department for Environment Food and Rural Affairs",
                text: "Department for Environment Food and Rural Affairs"
              },
              {
                value: "Department for International Trade",
                text: "Department for International Trade"
              },
              {
                value: "Department for Levelling Up, housing and Communities",
                text: "Department for Levelling Up, housing and Communities"
              },
              {
                value: "Department for Transport",
                text: "Department for Transport"
              },
              {
                value: "Department for Health and Social Care",
                text: "Department for Health and Social Care"
              },
              {
                value: "Foreign, Commonwealth and Development Office",
                text: "Foreign, Commonwealth and Development Office"
              },
              {
                value: "HM Treasury",
                text: "HM Treasury"
              },
              {
                value: "Home Office",
                text: "Home Office"
              },
              {
                value: "Ministry of Defence",
                text: "Ministry of Defence"
              },
              {
                value: "Ministry of Justice",
                text: "Ministry of Justice"
              },
              {
                value: "Northern Ireland Office",
                text: "Northern Ireland Office"
              },
              {
                value: "Office of the Advocate Gerneral for Scotland",
                text: "Office of the Advocate Gerneral for Scotland"
              },
              {
                value: "Office of the Leader of the House of Commons",
                text: "Office of the Leader of the House of Commons"
              },
              {
                value: "Office of the Leader of the House of Lords",
                text: "Office of the Leader of the House of Lords"
              },
              {
                value: "Office of the Secretary of State for Scotland",
                text: "Office of the Secretary of State for Scotland"
              },
              {
                value: "Office of the Secretary of State for Wales",
                text: "Office of the Secretary of State for Wales"
              },
              {
                value: "UK Export Finance",
                text: "UK Export Finance"
              }
            ]
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "How many years ago did you leave the Civil Service?"
            },
            classes: "govuk-input--width-3",
            id: "Years-Leave-Civil",
            name: "Years-Leave-Civil"
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "How many years did you serve in the Civil Service?"
            },
            classes: "govuk-input--width-3",
            id: "Years-in-Civil",
            name: "Years-in-Civil"
          }) }}
        </div>

        <div class="govuk-button-group">
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
