{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/RU-004" method="post">

        <div>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "current-former",
            name: "current-former",
            fieldset: {
              legend: {
                text: "Are you a current or former civil servant?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "Current",
                text: "I am currently a civil servant"
              },
              {
                value: "Former",
                text: "I am a former civil servant"
              }
            ]
          }) }}
        </div>
        
        <div class="govuk-button-group">
          {% from "govuk/components/button/macro.njk" import govukButton %}
          
          {{ govukButton({
            text: "Submit"
          }) }}
          <a class="govuk-link" href="/RU-003">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
