{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block header %}
  {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "My Civil Service Reserve Account",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
      </span>
    </p>
    </div>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "You have now left the Civil Service Reserve",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        You have now left the Civil Service Reserve. 
        If you wish to join again in the future, you must <a href="/RR-003">register</a> again.
      </p>

      <p class="govuk-body">
        <a href="/RR-027" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
