{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}
{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "My Civil Service Reserve Account",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/update" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you currently have security clearance?
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="secclear" name="secclear" type="radio" value="Yes" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="secclear">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Select the type of security clearance you have
                </label>
                <select class="govuk-select" id="secclear1" name="secclear1">
                  <option value="blank"> </option>
                  <option value="BPSS" >BPSS</option>
                  <option value="CTC">CTC</option>
                  <option value="SC">SC</option>
                  <option value="SC">DV</option>
                  <option value="SC">EDV</option>
                </select>
              </div>
                {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

                {{ govukDateInput({
                  id: "sec-expiry",
                  namePrefix: "sec-expiry",
                  fieldset: {
                    legend: {
                      text: "Expiry"
                    }
                  },
                  hint: {
                    text: "Optional"
                  }
                }) }}
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="secclear" name="secclear" type="radio" value="No" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="secclear">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>


{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
{{ govukButton({
text: "Submit"
}) }}

<a class="govuk-link" href="/start">Cancel</a>
</div>

</form>

    </div>
  </div>

{% endblock %}
