{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/secclear" method="post">

        <h1 class="govuk-heading-xl">
          Crisis management and resilience/response skills
        <p>  </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
                Do you have experience of working in a high intensity/incident response environment?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="criexp" name="criexp" type="radio" value="Yes" data-aria-controls="criexp-contact">
                <label class="govuk-label govuk-radios__label" for="criexp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="criexp-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="criexp-detail">
                    please describe this experience.
                  </label>
                  <textarea class="govuk-textarea" id="criexp-detail" name="criexp-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="criexp" name="criexp" type="radio" value="No" data-aria-controls="criexp-contact-2">
                <label class="govuk-label govuk-radios__label" for="criexp">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>

        <p>  </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
                Do you have experience working across Government, with local authorities, business representative organisations, voluntary sector, universities, or community groups?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crosexp" name="crosexp" type="radio" value="Yes" data-aria-controls="crosexp-contact">
                <label class="govuk-label govuk-radios__label" for="crosexp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="crosexp-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="crosexp-detail">
                    Please describe this experience.
                  </label>
                  <textarea class="govuk-textarea" id="crosexp-detail" name="crosexp-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crosexp" name="crosexp" type="radio" value="No" data-aria-controls="crosexp-contact-2">
                <label class="govuk-label govuk-radios__label" for="crosexp">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>

        <p>  </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
              Do you have experience in running events/conferences?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="evenexp" name="evenexp" type="radio" value="Yes" data-aria-controls="evenexp-contact">
                <label class="govuk-label govuk-radios__label" for="evenexp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="evenexp-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="evenexp-detail">
                    Please describe this experience.
                  </label>
                  <textarea class="govuk-textarea" id="evenexp-detail" name="evenexp-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="evenexp" name="evenexp" type="radio" value="No" data-aria-controls="evenexp-contact-2">
                <label class="govuk-label govuk-radios__label" for="evenexp">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>

        <p>  </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
              Do you have experience of delivering through others?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="othrexp" name="othrexp" type="radio" value="Yes" data-aria-controls="othrexp-contact">
                <label class="govuk-label govuk-radios__label" for="othrexp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="othrexp-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="othrexp-detail">
                    Please describe this experience.
                  </label>
                  <textarea class="govuk-textarea" id="othrexp-detail" name="othrexp-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="othrexp" name="othrexp" type="radio" value="No" data-aria-controls="othrexp-contact-2">
                <label class="govuk-label govuk-radios__label" for="othrexp">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>

        <p>  </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
              Programme management experience?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progexp" name="progexp" type="radio" value="Yes" data-aria-controls="progexp-contact">
                <label class="govuk-label govuk-radios__label" for="progexp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="progexp-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="progexp-detail">
                    Please describe this experience.
                  </label>
                  <textarea class="govuk-textarea" id="progexp-detail" name="progexp-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progexp" name="progexp" type="radio" value="No" data-aria-controls="progexp-contact-2">
                <label class="govuk-label govuk-radios__label" for="progexp">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>

        <p>  </p>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
                Do you have any programme management qualifications?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="progqual" name="progqual" type="radio" value="Yes" data-aria-controls="progqual-contact">
                <label class="govuk-label govuk-radios__label" for="progqual">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="progqual-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="progqual-detail">
                    Please describe these qualifications.
                  </label>
                  <textarea class="govuk-textarea" id="progqual-detail" name="progqual-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progqual" name="progqual" type="radio" value="No" data-aria-controls="progqual-contact-2">
                <label class="govuk-label govuk-radios__label" for="progqual">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>



        <p>  </p>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
                Do you have any crisis management qualifications?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="criqual" name="criqual" type="radio" value="Yes" data-aria-controls="criqual-contact">
                <label class="govuk-label govuk-radios__label" for="criqual">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="criqual-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="criqual-detail">
                    Please describe these qualifications.
                  </label>
                  <textarea class="govuk-textarea" id="criqual-detail" name="criqual-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="criqual" name="criqual" type="radio" value="No" data-aria-controls="criqual-contact-2">
                <label class="govuk-label govuk-radios__label" for="criqual">
                  No
                </label>
              </div>
              </div>

          </fieldset>
        </div>





{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
{{ govukButton({
text: "Continue"
}) }}

<a class="govuk-link" href="/start">Cancel</a>
</div>

</form>

    </div>
  </div>

{% endblock %}
