{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}
{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "My Civil Service Reserve Account",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/update" method="post">

        <h1 class="govuk-heading-xl">
          Your communication skills
        <p>  </p>
        <p> We will now ask you to rate your confidence level against these communication skills.  </p>
  <p>  </p>

<h2 class="govuk-heading-m">Produce clear and accurate Briefings</h2>
        {% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "skill1conf",
  name: "skill1conf",
  label: {
    text: "Confidence Rating"
  },
  items: [
    {
      value: " ",
      text: " "
    },
    {
      value: "Not confident",
      text: "Not confident"
    },
    {
      value: "Fairly confident",
      text: "Fairly confident"
    },
    {
      value: "Very confident",
      text: "Very confident"
    }
  ]
}) }}

<div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend">
                Do you have any experience of this in a crisis?
              </legend>
            </legend>
            <div id="contact-hint" class="govuk-hint">

            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="skill1" name="skill1" type="radio" value="Yes" data-aria-controls="skill1-contact">
                <label class="govuk-label govuk-radios__label" for="skill1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="skill1-contact">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="skill1-detail">
                    Briefly describe this experience in a couple of bullet points
                  </label>
                  <textarea class="govuk-textarea" id="skill1-detail" name="skill1-detail" rows="5"></textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="skill1" name="skill1" type="radio" value="No" data-aria-controls="skill1-contact-2">
                <label class="govuk-label govuk-radios__label" for="skill1">
                  No
                </label>
              </div>
              </div>

            </fieldset>
          </div>

          <p>  </p>

          <h2 class="govuk-heading-m">Produce clear and accurate written communications</h2>
                {% from "govuk/components/select/macro.njk" import govukSelect %}

          {{ govukSelect({
          id: "skill2conf",
          name: "skill2conf",
          label: {
            text: "Confidence Rating"
          },
          items: [
            {
              value: " ",
              text: " "
            },
            {
              value: "Not confident",
              text: "Not confident"
            },
            {
              value: "Fairly confident",
              text: "Fairly confident"
            },
            {
              value: "Very confident",
              text: "Very confident"
            }
          ]
          }) }}

          <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <legend class="govuk-fieldset__legend">
                        Do you have any experience of this in a crisis?
                      </legend>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">

                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="skill2" name="skill2" type="radio" value="Yes" data-aria-controls="skill2-contact">
                        <label class="govuk-label govuk-radios__label" for="skill2">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="skill2-contact">

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="skill2-detail">
                            Briefly describe this experience in a couple of bullet points
                          </label>
                          <textarea class="govuk-textarea" id="skill2-detail" name="skill2-detail" rows="5"></textarea>
                        </div>

                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="skill2" name="skill2" type="radio" value="No" data-aria-controls="skill2-contact-2">
                        <label class="govuk-label govuk-radios__label" for="skill2">
                          No
                        </label>
                      </div>
                      </div>

                    </fieldset>
                  </div>

                  <h2 class="govuk-heading-m">Articulate information quickly, succinctly and accurately</h2>
                        {% from "govuk/components/select/macro.njk" import govukSelect %}

                  {{ govukSelect({
                  id: "skill3conf",
                  name: "skill3conf",
                  label: {
                    text: "Confidence Rating"
                  },
                  items: [
                    {
                      value: " ",
                      text: " "
                    },
                    {
                      value: "Not confident",
                      text: "Not confident"
                    },
                    {
                      value: "Fairly confident",
                      text: "Fairly confident"
                    },
                    {
                      value: "Very confident",
                      text: "Very confident"
                    }
                  ]
                  }) }}

                  <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <legend class="govuk-fieldset__legend">
                                Do you have any experience of this in a crisis?
                              </legend>
                            </legend>
                            <div id="contact-hint" class="govuk-hint">

                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="skill3" name="skill3" type="radio" value="Yes" data-aria-controls="skill3-contact">
                                <label class="govuk-label govuk-radios__label" for="skill3">
                                  Yes
                                </label>
                              </div>
                              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="skill3-contact">

                                <div class="govuk-form-group">
                                  <label class="govuk-label" for="skill3-detail">
                                    Briefly describe this experience in a couple of bullet points
                                  </label>
                                  <textarea class="govuk-textarea" id="skill3-detail" name="skill3-detail" rows="5"></textarea>
                                </div>

                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="skill3" name="skill3" type="radio" value="No" data-aria-controls="skill3-contact-2">
                                <label class="govuk-label govuk-radios__label" for="skill3">
                                  No
                                </label>
                              </div>
                              </div>

                            </fieldset>
                          </div>

                          <h2 class="govuk-heading-m">Clearly and effectively communicate by verbal means</h2>
                                {% from "govuk/components/select/macro.njk" import govukSelect %}

                          {{ govukSelect({
                          id: "skill4conf",
                          name: "skill4conf",
                          label: {
                            text: "Confidence Rating"
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            },
                            {
                              value: "Not confident",
                              text: "Not confident"
                            },
                            {
                              value: "Fairly confident",
                              text: "Fairly confident"
                            },
                            {
                              value: "Very confident",
                              text: "Very confident"
                            }
                          ]
                          }) }}

                          <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                      <legend class="govuk-fieldset__legend">
                                        Do you have any experience of this in a crisis?
                                      </legend>
                                    </legend>
                                    <div id="contact-hint" class="govuk-hint">

                                    </div>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="skill4" name="skill4" type="radio" value="Yes" data-aria-controls="skill4-contact">
                                        <label class="govuk-label govuk-radios__label" for="skill4">
                                          Yes
                                        </label>
                                      </div>
                                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="skill4-contact">

                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="skill4-detail">
                                            Briefly describe this experience in a couple of bullet points
                                          </label>
                                          <textarea class="govuk-textarea" id="skill4-detail" name="skill4-detail" rows="5"></textarea>
                                        </div>

                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="skill4" name="skill4" type="radio" value="No" data-aria-controls="skill4-contact-2">
                                        <label class="govuk-label govuk-radios__label" for="skill4">
                                          No
                                        </label>
                                      </div>
                                      </div>

                                    </fieldset>
                                  </div>

                                  <h2 class="govuk-heading-m">Deliver difficult messages with clarity and sensitivity</h2>
                                        {% from "govuk/components/select/macro.njk" import govukSelect %}

                                  {{ govukSelect({
                                  id: "skill5conf",
                                  name: "skill5conf",
                                  label: {
                                    text: "Confidence Rating"
                                  },
                                  items: [
                                    {
                                      value: " ",
                                      text: " "
                                    },
                                    {
                                      value: "Not confident",
                                      text: "Not confident"
                                    },
                                    {
                                      value: "Fairly confident",
                                      text: "Fairly confident"
                                    },
                                    {
                                      value: "Very confident",
                                      text: "Very confident"
                                    }
                                  ]
                                  }) }}

                                  <div class="govuk-form-group">
                                          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                              <legend class="govuk-fieldset__legend">
                                                Do you have any experience of this in a crisis?
                                              </legend>
                                            </legend>
                                            <div id="contact-hint" class="govuk-hint">

                                            </div>
                                            <div class="govuk-radios" data-module="govuk-radios">
                                              <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="skill5" name="skill5" type="radio" value="Yes" data-aria-controls="skill5-contact">
                                                <label class="govuk-label govuk-radios__label" for="skill5">
                                                  Yes
                                                </label>
                                              </div>
                                              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="skill5-contact">

                                                <div class="govuk-form-group">
                                                  <label class="govuk-label" for="skill5-detail">
                                                    Briefly describe this experience in a couple of bullet points
                                                  </label>
                                                  <textarea class="govuk-textarea" id="skill5-detail" name="skill5-detail" rows="5"></textarea>
                                                </div>

                                              </div>
                                              <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="skill5" name="skill5" type="radio" value="No" data-aria-controls="skill5-contact-2">
                                                <label class="govuk-label govuk-radios__label" for="skill5">
                                                  No
                                                </label>
                                              </div>
                                              </div>

                                            </fieldset>
                                          </div>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
{{ govukButton({
text: "Submit"
}) }}

<a class="govuk-link" href="/start">Cancel</a>
</div>

</form>

    </div>
  </div>

{% endblock %}
