{% extends "layout.html" %}

{% block pageTitle %}
  Updating my status page
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "My Civil Service Reserve Account",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/RR-027">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">





        <h1 class="govuk-heading-xl">
          Temporarily suspend my Reserve membership 
        <p></p>

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "temp-leave",
          name: "temp-leave",
          label: {
            text: "Select a reason for suspending your membership"
          },
          items: [
            {
              value: " ",
              text: " "
            },
            {
              value: "not-avail",
              text: "Not available for more than 3 months"
            },
            {
              value: "ill",
              text: "Extended period of illness"
            },
            {
              value: "parental",
              text: "Extended period of parental leave"
            },
            {
              value: "Personal",
              text: "Personal reasons"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Can you provide more detail?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is optional"
          }
        }) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" action="/templconf" method="post">

<div class="govuk-button-group">
  {{ govukButton({
    text: "Suspend membership",
  classes: "govuk-button--warning"
  }) }}

  <a class="govuk-link" href="/update">Cancel</a>
</div>

</form>

    </div>
  </div>

{% endblock %}
