{% extends "layout.html" %}

{% block pageTitle %}
  Update your details
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "My Civil Service Reserve Account",
  serviceUrl: "#"
}) }}

<div class="govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Review and update your information</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Whoupdate">
              Change
              <span class="govuk-visually-hidden"> Full Name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/Whoupdate">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['email'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/Whoupdate">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Right to work
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['nation'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/Elig2a">
              Change
              <span class="govuk-visually-hidden"> Right to work</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Employment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current or former civil servant
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['current-former'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Elig1update">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current or last grade
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['current-last-grade'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Elig3update">
              Change
              <span class="govuk-visually-hidden"> Current or last grade</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current Civil Service department or current organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['department-current-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> Current Civil Service role or current oragnisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your start date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['date-start'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> Your Start Date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your end date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['date-end'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> Your end date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current or most recent role
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['your-role'] }}</p>
          </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> What was/is your role</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee name
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['your-ref'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> The name of your reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee’s email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['ref-email'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> Your references email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee’s telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['ref-telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/typeofroleupdate">
              Change
              <span class="govuk-visually-hidden"> Your references telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referee’s preferred contact method
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['preferred-contact-method'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            <a href="/typeofrole">
              Change
              <span class="govuk-visually-hidden"> Your references preferred contact method</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Employment details (former civil servant)</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Most recent Civil Service department
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['former-current-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/notrecentcivilupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Years since leaving the Civil Service
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['Years-Leave-Civil'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/notrecentcivilupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Years of service
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['Years-in-Civil'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/notrecentcivilupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Your communication skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Produce clear and accurate Briefings
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill1conf'] }}
            <br>Have experience? - {{data['skill1'] }}
            <br>Experience - {{data['skill1-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Produce clear and accurate written communications
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill2conf'] }}
            <br>Have experience? - {{data['skill2'] }}
            <br>Experience - {{data['skill2-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Articulate information quickly, succinctly and accurately
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill3conf'] }}
            <br>Have experience? - {{data['skill3'] }}
            <br>Experience - {{data['skill3-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Clearly and effectively communicate by verbal means
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill4conf'] }}
            <br>Have experience? - {{data['skill4'] }}
            <br>Experience - {{data['skill4-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Deliver difficult messages with clarity and sensitivity
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill5conf'] }}
            <br>Have experience? - {{data['skill5'] }}
            <br>Experience - {{data['skill5-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your analysis skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Analyse a range of information and translate this into clear policy
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill6conf'] }}
            <br>Have experience? - {{data['skill6'] }}
            <br>Experience - {{data['skill6-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand data, intelligence and analysis and engage with analysts
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill7conf'] }}
            <br>Have experience? - {{data['skill7'] }}
            <br>Experience - {{data['skill7-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand data and communicate to a range of audiences
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill8conf'] }}
            <br>Have experience? - {{data['skill8'] }}
            <br>Experience - {{data['skill8-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your decision making skills</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make defensible decisions with partial and/or conflicting information
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill9conf'] }}
            <br>Have experience? - {{data['skill9'] }}
            <br>Experience - {{data['skill9-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Understand the consequences, impact and knock-on effects of decisions
          </dt>
          <dd class="govuk-summary-list__value">
            Rating - {{data['skill10conf'] }}
            <br>Have experience? - {{data['skill10'] }}
            <br>Experience  - {{data['skill10-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/Skillsupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Security clearance and availability</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Security clearance
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['secclear'] }}
            <br>{{data['secclear1'] }}
            <br>{{data['sec-expiry'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/secclearupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Available days
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['availday'] }}
            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/availupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Unsociable hours
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['unsol'] }}
            <br>{{data['more-detail'] }}
            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/availupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal circumstances
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['otherinfo'] }}
            <br>{{data['otherinfo-detail'] }}
            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/availupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Reasonable adjustments and personal preferences</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasonable adjustments needed
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['resadj'] }}
            <br>{{data['resadj-detail'] }}
            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/perprefupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Departmental preferences
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['deptp'] }}
            <br>{{data['deptp-detail'] }}
            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/perprefupdate">
              Change
              <span class="govuk-visually-hidden"> Current or Former</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Update your Reserve status</h2>

      <p>If you wish to permanently <a href="/perml">leave the Civil Service Reserve</a>.</p>

    </div>


  </div>
{% endblock %}
